.containerimage {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.boxlogo {
  position: absolute;
  height: 400px;
  mix-blend-mode: hard-light;
  margin-bottom: 200px;
}

.gamescreen {
  z-index: 2;
}

.board {
  height: 100vh;
  width: 100vw;
  z-index: 3;
}

.hands {
  height: 100vh;
}

.flex-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
}

.divs {
  /*margin: 3px;*/
  /*background-color: yellow;*/
  overflow: hidden;
}

.container_otherplayer {
  /* background-color: red; */
  flex: 4;
  display: flex;
}

.container_player {
  flex: 3;
  /* background: aquamarine; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.divlefttest {
  flex: 1;
  /* background-color: beige; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.divmidtest {
  flex: 5;
  /* background-color: violet; */
  display: flex;
  flex-direction: column;
}

.divrighttest {
  flex: 1;
  /* background-color: forestgreen; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.divtoptest {
  flex: 3;
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divbottomtest {
  flex: 5;
  /* background-color: darkviolet; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.divmid {
  flex: 9;
  /*background-color: red;*/
  display: flex;
  flex-direction: column;
}

/*Pour la partie gauche*/
.divleft {
  flex: 2;
  display: flex;
  flex-direction: row;
}

.divright {
  flex: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  /*background-color: blue;*/
}

/*Et la div prendra un ratio de 2 par rapport au autres div row, Centre le contenu */
.divrowtop,
.divrowbottom {
  flex: 2;
  /*background-color: blue;*/
  display: flex;
  justify-content: center;
}

/*Aligne le contenu vers le bas de la flexbox (ici ça position en y)*/
.divrowtop {
  align-items: flex-start;
}

/*Aligne le contenu vers le haut de la flexbox (ici ça position en y)*/
.divrowbottom {
  align-items: flex-end;
}

/*Et la div prendra un ratio de 2 par rapport au autres div row, Centre le contenu */
.divrowmid {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.hand_1 {
  margin-top: -50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 65px;
  min-height: 120px;
}

.hand_2 {
  display: flex;
  flex-direction: column;
  margin-left: -50px;
  padding-bottom: 65px;
}

.hand_0 {
  padding-bottom: 80px;
  padding-right: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.hand_3 {
  display: flex;
  flex-direction: column;
  margin-right: -50px;
  padding-top: 65px;
}

.lastcard {
  padding-right: 50px;
  padding-bottom: 80px;
}

.draw {
  width: 106px;
  height: 167px;
}

.draw:hover {
  cursor: pointer;
}

/*Sera mit dans le fichier card.css*/
.back {
  width: 120px;
  height: auto;
}

.drawcard {
  width: 106px;
  height: 167px;
}

.leftside {
  margin-bottom: -65px;
}

.rightside {
  transform: rotate(-180deg);
  margin-top: -65px;
}

.topside {
  margin-right: -65px;
  height: 120px;
  width: auto;
}

.card {
  margin-right: -50px;
  margin-bottom: -80px;
  transition: transform 0.2s ease;
  z-index: 0;
}

.cannotPlay {
  filter: brightness(60%);
}
.card:hover:not(.lastcard .card) {
  cursor: pointer;
  transform: translateY(-20px);
  z-index: 1;
}

.selected {
  box-shadow: 0px 0px 5px 4px white, 0 0 0 5px white inset;
}

.containerMid {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.color {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid #2e2e2e;
  align-self: center;
}

.one {
  height: 35px;
  border-radius: 7px;
  background-color: #2e2e2e;
  color: white;
  border: 0px solid;
}

.one:hover {
  cursor: pointer;
  filter: brightness(150%);
}

.violet {
  background-color: #c8b3dd;
}

.rose {
  background-color: #f2c6de;
}

.bleu {
  background-color: #accbe8;
}

.vert {
  background-color: #bbe1b1;
}

.playerName {
  color: white;
  font-weight: bold;
  margin: 0;
}

#playerTchat {
  width: 90%;
}

.linePlayer {
  max-width: 500px;
  height: 2px;
  background-color: #ffffff;
}

.l2p,
.l3p {
  width: 3px;
  height: 300px;
  margin-left: 8px;
  margin-right: 8px;
}

.n2p,
.n3p {
  writing-mode: vertical-rl;
  padding: 0;
}

.n3p {
  transform: rotate(180deg);
}

.cantPlay {
  color: #2e2e2e;
}

.cantPlayl {
  background-color: #2e2e2e;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.colorSelector {
  height: 175px;
  width: 175px;
  border-radius: 50%;
  outline: 7px solid #2e2e2e;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.part {
  width: 50%;
  height: 50%;
}

.colorContainer {
  height: 255px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000d1;
  border-radius: 50px;
  gap: 20px;
}

.askColor {
  font-size: 20px;
  font-weight: bold;
  color: white;
  font-family: "Inter";
}

.endPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: absolute;
}

.endContainer {
  background-color: #000000d1;
  border-radius: 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.rankingPlayer {
  font-weight: bold;
  color: white;
}

.endTitle {
  color: white;
}

#endButton {
  width: 100%;
  margin-top: 20px;
}

.playButton,
.cancelButton {
  height: 35px;
  border-radius: 7px;
  background-color: #2e2e2e;
  color: white;
  border: 0px solid;
  width: 100px;
}

.cancelButton:hover,
.playButton:hover {
  cursor: pointer;
  filter: brightness(150%);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 15%;
}

#manyCard {
  position: absolute;
  width: 750px;
  top: 25%;
  right: calc(50% - 375px);
  color: white;
  font-family: "Inter";
  font-weight: bold;
  z-index: 10;
}

@media screen and (max-width: 600px) {
  .boxlogo {
    height: 200px;
  }
}

@media screen and (max-width: 800px) {
  #manyCard {
    width: 350px;
    right: calc(50% - 175px);
  }
}