@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.screen {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #feefff;
}

.container {
  margin: 0 auto;
  display: flex;
  text-align: center;
  max-width: 90vw;
  min-width: 630px;
  height: 510px;
  border-radius: 2.3rem;
  box-shadow: 0px 0px 15px 0px;
}

.side {
  background-color: #ffffff;
  padding-bottom: 2rem;
  min-width: 315px;
  max-width: 412px;
}

.Left {
  flex: 2;
  border-radius: 2.3rem 0 0 2.3rem;
}

.Right {
  flex: 2;
  border-radius: 0 2.3rem 2.3rem 0;
  background-image: url("../assets/one_side.png");
  background-size: cover;
  background-position: center;
}

.text-center {
  font-size: 2.7rem;
  font-family: "Inter";
  text-align: center;
  margin: 2rem;
}

.input-group {
  margin-top: 0.8rem;
}

.label {
  font-family: "Inter";
  font-weight: bold;
  font-size: 18px;
}

.input {
  appearance: none;
  display: block;
  color: #333;
  border: 1px solid black;
  background-color: white;
  padding: 1rem;
  border-radius: 0.65rem;
  width: 88%;
  height: 5px;
  margin: 0.85rem auto 0;
}

.input.input-error {
  border: 1px solid red;
}

.input.input-error:focus {
  border: 1px solid red;
}

input:focus {
  outline: none;
}

.BarrePwd {
  display: flex;
  width: 88%;
  margin: auto;
}

#password {
  width: calc(100% - 25px);
  margin: 0.65rem 0 0 auto;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

#confirmPassword {
  width: calc(100% - 25px);
  margin: 0.65rem 0 0 auto;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.eye-container {
  height: 34px;
  width: 34px;
  align-self: flex-end;
  display: flex;
  border: 1px solid black;
  border-left: none;
  border-bottom-right-radius: 0.65rem;
  border-top-right-radius: 0.65rem;
  justify-content: center;
}

.eye {
  cursor: pointer;
  width: 25px;
  height: 25px;
  align-self: center;
}

.errorcontainer {
  height: 0.95rem;
  margin: 0.6rem;
  display: flex;
  flex-direction: column;
}

.error-message {
  font-size: 0.85rem;
  font-family: "Inter";
  color: red;
}

.success-message {
  font-size: 0.85rem;
  font-family: "Inter";
}

.button {
  background-color: #f2c6de;
  font-family: "Inter";
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
  width: 88%;
  border: 2px solid #e5aecc;
  border-radius: 0.45rem;
  padding: 1rem;
  cursor: pointer;
}

.button:hover {
  filter: brightness(110%);
}

.link {
  margin: 0.85rem;
  display: flex;
  justify-content: center;
  color: #b844ff;
  cursor: pointer;
}

hr {
  border: none;
  height: 1px;
  width: 90%;
  background-color: #bebebe;
}

@media screen and (max-width: 600px) {
  .Right {
    display: none; /* Masquer la partie gauche */
  }

  .container {
    min-width: 315px;
  }

  .side {
    border-radius: 2.3rem;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    max-width: 824px;
  }
}
