.forget {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forgetbutton {
  margin: 0 auto;
}

p {
  font-family: "Inter";
  margin: 0 auto;
  padding: 0 1.25rem;
}

#containerForgetError {
  margin: 1.6rem;
}